//
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}
.filmoq-right {
		float: right!important;
}
.filmoqbox .filmoq.filmoq-right {
		border-radius: 0 3px 3px 0;
		left: -8px;
}
.filmoqbox .filmoq.filmoq-left {
	border-radius: 0 3px 3px 0;
	right: -8px;
}
.filmoqbox .filmoq {
		position: absolute;
		clear: both;
		padding: 5px 12px;
		margin-bottom: 15px;
		box-shadow: 2px 5px 10px rgba(50,58,70,.15);
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		top: 10px;

}

.filmoqbox .filmoq-blue {
 background-color: #0058a3;
}
.filmoqbox .filmoq-blue:before {
 border-color: #0058a3 transparent transparent;
}
.filmoqbox .filmoq-left:before {
		right: 0;
		left: auto;
}
.filmoqbox .filmoq:before {
content: " ";
	border-style: solid;
	border-width: 10px;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
	margin-bottom: -10px;
	z-index: -1;
}





.img-tv-movies {
	padding: 0!important;
	background-color: #ffffff;
	border: 0;
	border-radius: 0;
	height: 190px;
 width: 100%;
}
.notify_tv_movie {
	top: 60%;
}
.notify_watch {
	top: 45%;
}
.ep_watch {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	width: 100%
}
.img-ep {
	padding: 0!important;
	background-color: #ffffff;
	border: 0;
	border-radius: 0;
	height: 135px;
	width: 100%;
}

.card-title {
		margin-bottom: 5px;
}

.justify-content-center {
justify-content: center!important;
text-align: center;
}

.filmoq-danger {
background: #0058a3!important;
}
.filmoq-blue:hover, .filmoq-blue:focus {
color: #0058a3;
background: #ffffff!important;
border-color: #0058a3;
}

.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 10px;
	width: 0;
	padding: 0;
	height: 0;
}.owl-theme .owl-dots .owl-dot{display: none!important;}


.card-title {
	margin-bottom: 5px;
	text-align: center;
}.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {

	padding-right: 0!important;
	padding-left: 0!important;

}

.filmoq-box .filmoq-two-two span {
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	transform: rotate(-45deg)!important;
	width: 100px;
	display: block;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
	position: absolute;
	top: 19px!important;
	left: -21px!important;
	font-weight: 600;
}.filmoq-box .filmoq-two-two {
	position: absolute;
	left: 0px!important;
	right: auto!important;
	top: -5px!important;
	z-index: 1;
	overflow: hidden;
	width: 75px;
	height: 75px;
	text-align: right;
}.filmoq-box .filmoq-two-two span {

	right: 0;

}.filmoq-box .filmoq-two-two-blue span:before {
	border-left: 3px solid #0058a3;
	border-top: 3px solid #0058a3;
}.filmoq-box .filmoq-two-two-blue span {
background-color: #c70000;
}
.filmoq-box .filmoq-two-two span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	z-index: -1;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
}.filmoq-box .filmoq-two-two-blue span:after {
	border-right: 3px solid #0058a3;
	border-top: 3px solid #0058a3;
}.filmoq-box .filmoq-two-two span:after {
	content: "";
	position: absolute;
	right: 0;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
* {
  font-family: 'Cairo', sans-serif!important;

}
.fa, .fab, .fad, .fal, .far, .fas, .fab {
		font-family: 'Font Awesome 5 Free'!important;
		font-weight: 900;
		}

    @media only screen and (max-width: 800px) {
    	.resp-container {
    	    padding-top: 75%!important;
    			z-index: 1000!important;
    	}

    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
    .bg-dark {
        background-color: #303841!important;
    }
    .btn-outline-blue {
        color: #ffffff;
        border-color: #ffffff;
    }
    .checked {
    	color: orange;
    }
    .logo_size {
    	width: 100px;
    	height: 40px;
    }
    .card-img-top {
      width: 100%;
      /* height: 8vw; */
      height: 120px;
      object-fit: cover;
    }
    .selectsherch {
      background: #2c353d;
      border-color: #41464a;
      color: white;
    }
    .img-info{
    height: 240px;
    width: 100%;
    }

    @media only screen and (max-width: 768px) {
    .img-info{
    height: 240px;
    width: auto;
    }
    }
    .list_all {
        height: 300px;

        width: 100%;
        overflow: auto;
    }
    @media only screen and (max-width: 768px) {
   /* For mobile phones: */
   .list_all {
       position: relative;
       height: 300px;
       width: 100%;
       overflow: auto;
   }
  }

   a.simoclick{
      background: #385d95!important;
      color: white;
  }
  a.simoclick:hover, a.simoclick:hover {
    background: #424e5a!important;
    color: white;
  }
  a.simoclist {
      background: #0a151f!important;
      color: white;
  }
  a.simoclist:hover {
      background: #385d95!important;
      color: white;
  }
  .list-group:first-child,.list-group-item:first-child, .list-group-item:last-child  {
      border-top-left-radius: 0rem!important;
      border-top-right-radius: 0rem!important;

  }
  .list-group-item {
      border: 1px solid #9fb9d23d;
  }
  a {
    color: #ffffff;
}
.list_all {
    position: absolute;
    height: 91%;
    width: 100%;
    overflow: auto;
}
@media only screen and (max-width: 768px) {
/* For mobile phones: */
.list_all {
   position: relative;
   height: 300px;
   width: 100%;
   overflow: auto;
}
}
.videoembed {
   position:relative;
   overflow: hidden;
padding-top: 52%;


}
.list-group-item.active {
 z-index: 2;
 color: #fff;
 background-color: #3b5f95!important;
 border-color: #3b5f95;
}

.videoiframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 0;
}


.play-action {
float: left;
width: 100%;
padding: 10px;

DISPLAY: flex;
}

.action-bar-player-right {


float: right;
   position: relative;
   right: 15PX;
}

.play-action.row {
   margin-left: 0;
   margin-right: 0;
}
div#simoid1 {
   padding: 3px 0 10px 0;
}
#videoembed {
   background:#323a46;
}


#loader1 {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   background:#ffffff;

}
.list_all {
    height: 500px;
}
// .dropdown-lg {
//     width: 100%;
// }
